In [1]:
import pandas as pd

In [2]:
Qtable = []
cells=12
actions = ['left', 'down', 'right', 'up']
for state in range(cells):
    action = [0] * len(actions)  
    Qtable.append(action)
Qtable=pd.DataFrame(Qtable)

In [3]:
Qtable

    0  1  2  3
0   0  0  0  0
1   0  0  0  0
2   0  0  0  0
3   0  0  0  0
4   0  0  0  0
5   0  0  0  0
6   0  0  0  0
7   0  0  0  0
8   0  0  0  0
9   0  0  0  0
10  0  0  0  0
11  0  0  0  0

In [4]:
currentpos=[0,1]
targetpos=[3,2]
fire=[3,1]